PORT=8787
JWT_SECRET=
APP_URL=https://imageforge-ai.vercel.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENROUTER_API_KEY=
NARAROUTER_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
CEREBRAS_API_KEY=

PAY_BKASH=
PAY_NAGAD=

VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
